
/* Inter & Railway Font */

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

/* Color */

.primary-color {
    color: #030712;
}

.secondary-color {
    color: rgba(3, 7, 18, 0.60);
}

.tertiary-color {
    color: #1DD100;
}
